<div class="landing-container">
  <div class="content-section">
    <h1>Epílogo</h1>
    <h2>La biblioteca digital para todos</h2>
    
    <p>
      Descubre una experiencia de reserva única en Epílogo, la plataforma virtual donde puedes explorar y reservar tus libros favoritos de manera sencilla y rápida. Nuestro sistema te muestra en tiempo real el estado de disponibilidad de cada libro, para que puedas saber al instante si hay copias disponibles, pocas copias restantes o si están todas reservadas.
    </p>

    <div class="button-group">
      <button class="btn-primary" (click)="navigateTo('/epilogo/login')">Iniciar sesión</button>
<button class="btn-secondary" (click)="navigateTo('/epilogo/register')">Registrarte</button>
    </div>
  </div>

  <div class="image-section">
    <!-- <img src="../../../assets/img/Index.png" alt="Libro Epílogo"> -->
  </div>
</div>