<div class="signup-container">
    <div class="icon-container">
        <svg class="book-icon" viewBox="0 0 24 24">
            <path d="M21,4H3A2,2 0 0,0 1,6V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19V6A2,2 0 0,0 21,4M3,19V6H11V19H3M21,19H13V6H21V19M14,9.5H20V11H14V9.5M14,12H20V13.5H14V12M14,14.5H20V16H14V14.5Z"/>
        </svg>
    </div>
    <h1>Crea una cuenta</h1>
    <p class="subtitle">Es rápido y fácil.</p>
  
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="name-group">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos" formControlName="apellidos">
            </div>
        </div>
      
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" formControlName="email">
        </div>
       
       <div class="form-group">
            <label for="password">Nueva Contraseña</label>
            <input type="password" id="password" formControlName="password">
        </div>
      
        <button type="submit" [disabled]="!signupForm.valid">Registrarte</button>
      
            <div class="login-link">
                ¿Ya tienes una cuenta?
            </div>
    </form>
</div>