<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3>Enlaces Útiles</h3>
      <ul>
        <li><a href="../../about/about.component.html">Sobre nosotros</a></li>
        <li><a href="../../users/auth/login/login.component.html">Iniciar sesión</a></li>
        <li><a href="../../users/auth/register/register.component.html">Registrarse</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Redes Sociales</h3>
      <ul>
        <li><a href="https://web.facebook.com/?_rdc=1&_rdr#" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/?hl=es" target="_blank">Instagram</a></li>
        <li><a href="https://www.tiktok.com/?kuid=e817f3ca-9eff-484a-b620-d9ab0df56eaf-1729728000&kref=https%253A%252F%252Fproductivitystacks.com%252Fhootsuite-vs-sprout-social-which-social-media-management-tool-is-right-for-your-business%252F" target="_blank">TikTok</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contáctanos</h3>
      <p>Dirección: Calle Ficticia 123, Ciudad, País</p>
      <p>Teléfono: +123 456 7890</p>
      <p>Correo electrónico: contactoepilogo.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Epílogo. Todos los derechos reservados.</p>
  </div>
</footer>